@helper ActiveItem(string actionName, string controllerName, string areaName)
{
    if (ViewContext.RouteData.Values["action"].ToString() == actionName &&
            ViewContext.RouteData.Values["controller"].ToString() == controllerName &&
            (ViewContext.RouteData.DataTokens["area"] == null || ViewContext.RouteData.DataTokens["area"].ToString() == areaName))
    {
        @:active
    }
}

<div class="container">
    <div class="navbar-collapse collapse">
        <ul class="nav nav-pills">
            <li class="@ActiveItem("Index", "Home", null)">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="@ActiveItem("Vehicles", "Home", null)">@Html.ActionLink("Vehicles", "Vehicles", "Home")</li>
        </ul>
    </div>
</div>
