@{
    ViewBag.Title = "Home Page";
}

@section featured {

}

<div data-ng-app="fuelman" class="container">
    <div class="row" data-ng-controller="VehicleController">
        <!-- sidebar -->
        <div class="col-xs-12 col-sm-3">
            <div>
                <!-- list of vehicles mobile -->
                <div class="visible-xs">
                    <select class="form-control" data-ng-model="selectedVehicleId">
                        <option data-ng-repeat="vehicle in vehicles" value="{{$index}}">{{vehicle.Name}}</option>
                    </select>
                </div>

                <!-- list of vehicles tablet -->
                <div class="hidden-xs">
                    <ul class="vehicle-list list-group">
                        <li class="list-group-item" data-ng-repeat="vehicle in vehicles"
                            data-ng-click="selectThisVehicle(vehicle)"
                            data-ng-class="cssVehicleListItem(vehicle)">
                            <span class="glyphicon glyphicon-file"></span> {{vehicle.Name}}
                        </li>                    
                    </ul>
                </div>

                <!-- Add Vehicle button -->
                <div data-ng-show="!isCreateNewVehicle">
                    <button class="btn btn-primary col-xs-12" data-ng-click="createNewVehicle()">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Add Vehicle
                    </button>
                </div> <!-- end add vehicle button -->
                <!-- vehicle summary -->
                <div class="text-center">
                    <h1><b>15.2 kmpl</b></h1>
                    <span>15,666 kms</span>
                    <span>1667 litres</span>
                </div>

            </div>
        </div> <!-- end sidebar -->

        <!-- right pane -->
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <!-- vehicle-form -->
                    <form id="vehicle_form" name="vehicle_form" class="vehicle-form" data-ng-show="isCreateNewVehicle" novalidate>
                        <div>
                            <div class="text-center"><h2>Add new Vehicle</h2></div>
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" name="nv_name" data-ng-model="nv_name" type="text" placeholder="Any name you like would do" required />
                                <div class="text-right">
                                    <span data-ng-show="!vehicle_form.nv_name.$error.required" class="glyphicon glyphicon-ok"></span>                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control" name="nv_brand" data-ng-model="nv_brand" data-ng-options="brand.BrandName for brand in brands" required></select>
                                <div class="text-right">
                                    <span data-ng-show="!vehicle_form.nv_brand.$error.required" class="glyphicon glyphicon-ok"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <select class="form-control" name="nv_model" data-ng-model=" nv_model" data-ng-options="model.ModelName for model in models" required></select>
                                <div class="text-right">
                                    <span data-ng-show="!vehicle_form.nv_model.$error.required" class="glyphicon glyphicon-ok"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Refill Unit</label>
                                <select class="form-control" name="nv_refillunit" data-ng-model=" nv_refillunit" data-ng-options="unit.Description for unit in refillUnits" required></select>
                                <div class="text-right">
                                    <span data-ng-show="!vehicle_form.nv_refillunit.$error.required" class="glyphicon glyphicon-ok"></span>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <input type="submit" data-ng-click="saveVehicle()" value="Save" class="btn btn-primary" />
                            <input type="button" value="Cancel" data-ng-click='cancelCreateNewVehicle()' class="btn" />
                        </div>
                    </form> <!-- vehicle-form -->

                    <!-- refill-button -->
                    <div data-ng-show="!isCreateNewRefill">
                        <button class="btn btn-success col-xs-12" data-ng-click="startCreateNewRefill()">
                            <span class="glyphicon glyphicon-tint"></span> Add Refill
                        </button>
                    </div><!-- end refill-button -->

                    <!-- refill-form -->
                    <form class="refill-form" data-ng-show="isCreateNewRefill">
                        <div>
                            <div class="text-center"><h2>Add new Refill</h2></div>
                            <div class="form-group">
                                <label>Date</label>
                                <input class="form-control" data-ng-model="newRefill.RefillDate" type="text" />
                            </div>
                            <div class="form-group">
                                <label>Odometer Reading</label>
                                <input class="form-control" data-ng-model="newRefill.Odometer" type="text" />
                            </div>
                            <div class="form-group">
                                <label>Refill Amount in {{refillUnit}}</label>
                                <input class="form-control" data-ng-model="newRefill.RefillAmount" type="text" />
                            </div>
                            <div class="form-group">
                                <label>Full Tank? </label>
                                <input data-ng-model="newRefill.IsFullTank"  type="checkbox" />
                            </div>
                        </div>

                        <div class="text-right">
                            <input type="submit" data-ng-click="saveRefill()" value="Save" class="btn btn-primary" />
                            <input type="button" value="Cancel" data-ng-click='cancelCreateNewRefill()' class="btn" />
                        </div>
                    </form> <!-- end refill-form -->

                   
                    <!-- chart -->
                    <div class="panel-body">
                        <div class="ct-chart" style="height:300px"></div>
                    </div> <!-- end chart -->

                </div>

                <div class="col-sm-12 col-md-12">
                    <!-- refill history -->
                    <div class="refill-history">
                        <table class="table">
                            <caption><h3 class="text-center">Refill History</h3></caption>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>No of Litres</th>
                                    <th>Odometer</th>
                                    <th>Full Tank</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="refill in refills">
                                <td>{{refill.RefillDate}}</td>                                
                                <td>{{refill.RefillAmount}}</td>
                                <td>{{refill.Odometer}}</td>
                                <td>{{refill.IsFullTank}}</td>
                            </tr>
                        </table>
                    </div> <!-- end refill history -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <span class="col-xs-12 text-center">Copyright 2014</span>
    </div>
</div>


@section Scripts {

    <script language="JavaScript">
    // Our labels and three data series
		var data = {
		  labels: ['Week1', 'Week2', 'Week3', 'Week4', 'Week5', 'Week6'],
		  series: [
		    [5, 4, 3, 7, 5, 10]
		  ]
		};

		// We are setting a few options for our chart and override the defaults
		var options = {
		  // Don't draw the line chart points
		  showPoint: true,
		  // Disable line smoothing
		  lineSmooth: false,
		  // X-Axis specific configuration
		  axisX: {
		    // We can disable the grid for this axis
		    showGrid: false,
		    // and also don't show the label
		    showLabel: true
		  },
		  // Y-Axis specific configuration
		  axisY: {
		    // Lets offset the chart a bit from the labels
		    offset: 40,
		    // The label interpolation function enables you to modify the values
		    // used for the labels on each axis. Here we are converting the
		    // values into million pound.
		    labelInterpolationFnc: function(value) {
		      return '$' + value + 'm';
		    }
		  }
		};

		// All you need to do is pass your configuration as third parameter to the chart function
		new Chartist.Line('.ct-chart', data, options);

		</script>
}