@{
    ViewBag.Title = "Home Page";
}

@section featured {

}

<div data-ng-app="fuelman">
    <!-- two row layout -->
    <div class="container">
        <div class="row" data-ng-controller="VehicleController">
            <!-- sidebar: list of vehicles -->
            <div class="col-md-3">
                <div class="sidebar">
                    <h3 class="center"> Cars </h3>
                    <div class='big-number'>34,566 km</div>
                    <ul class='cars'>
                        <li data-ng-repeat="vehicle in vehicles" data-ng-click="selectThisVehicle(vehicle)" data-ng-class="cssVehicleListItem(vehicle)">{{vehicle.Name}}</li>
                    </ul>
                    <div class="center">
                        <button class='btn btn-primary' data-ng-click='createNewVehicle()'>New</button>
                    </div>
                </div>
            </div> <!-- end sidebar -->
            <!-- dashboard -->
            <div class="col-md-9 dashboard">

                <!-- vehicle-form -->
                <div class="tile form" data-ng-show="isCreateNewVehicle">
                    <form>
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="editor-field"> <input class="form-control" data-ng-model="newVehicle.Name" type="text" name="name" id="name" /> </div>
                        <label class="col-sm-2 control-label">Brand</label>
                        <select class="form-control" data-ng-model="newVehicle.Brand" data-ng-options="brand.BrandName for brand in brands"></select>
                        <label class="col-sm-2 control-label">Model</label>
                        <select class="form-control" data-ng-model="newVehicle.Model" data-ng-options="model.ModelName for model in models"></select>
                        <label class="col-sm-2 control-label">Refill Unit</label>
                        <select class="form-control" data-ng-model="newVehicle.RefillUnit" data-ng-options="unit.Description for unit in refillUnits"></select>
                        <p>
                            <input type="submit" data-ng-click="saveVehicle()" value="Add" class="btn btn-primary" />
                            <input type="button" value="Cancel" data-ng-click='cancelCreateNewVehicle()' class="btn" />
                        </p>
                    </form>
                </div> <!-- vehicle-form -->

                <!-- vehicle-overview -->
                <div class="tile vehicle-overview">
                    <div class="tile-title">
                        <span class="brand">{{selectedVehicle.Name}}</span>
                        (<span class="model">{{selectedVehicle.BrandName}} {{selectedVehicle.ModelName}}</span>)
                    </div>
                    <!-- statistics -->
                    <div class="statistics" data-ng-show="selectedVehicle">
                        <div class="tile-title"> Statistics </div>
                        <div data-ng-show="statistics.length > 0">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fuel</th>
                                        <th>Distance</th>
                                        <th>Economy</th>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="stat in statistics">
                                    <tr>
                                        <td>{{stat.Fuel}}</td>
                                        <td>{{stat.Distance}}</td>
                                        <td>{{stat.Economy}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            @*<div id="chart_container">
                            <canvas id="chart_canvas"></canvas>
                            </div>*@
                        </div>
                        <div data-ng-show="statistics.length ===  0">
                            <span class="info">More refill records you add, the prettier the statistics get. Don't overkill though. :)</span>
                        </div>
                    </div> <!-- statistics -->
                </div> <!-- vehicle-overview -->

               
                
                <!-- refills -->
                <div class="tile refills">
                    <div class="tile-title">Refill History</div>
                    <div class='refill' data-ng-repeat="refill in refills">
                        <div class='date'>{{refill.RefillDate}}</div>
                        <div class='details'>
                            <span class='odometer'><code>Odometer</code> <b>{{refill.Odometer}}</b> <code>km</code></span>
                            <span class='refill-amount'> <b>{{refill.RefillAmount}}</b> <code>litres</code></span>
                            <span class='fulltank-or-not'><code>fulltank</code></span>
                        </div>
                    </div>
                    <div data-ng-show="refills.length == 0">
                        <span class="info">You haven't added a refill yet. <br> Add one now. :)</span>
                    </div>
                    <p>
                        <button data-ng-click="startCreateNewRefill()">New Refill</button>
                    </p>
                </div> <!-- refills -->
                <!-- refill-form -->
                <div class="tile form" data-ng-show="isCreateNewRefill">
                    <div class="tile-title">New Refill</div>
                    <form id="refill_form">
                        <fieldset>
                            <legend>New Refill</legend>
                            <label class="col-sm-2 control-label"> Date </label>
                            <input type="text" data-val="true"
                                   data-ng-model="newRefill.RefillDate"
                                   data-val-date="The field Date must be a Date."
                                   data-val-required="The Date field is required." />

                            <label class="col-sm-2 control-label"> Odometer Reading </label>
                            <input type="text" data-val="true"
                                   data-ng-model="newRefill.Odometer"
                                   data-val-number="The field Odometer Reading must be a number."
                                   data-val-required="The Odometer Reading field is required." />

                            <label class="col-sm-2 control-label"> Refill Amount </label>
                            <input type="text" data-val="true"
                                   data-ng-model="newRefill.RefillAmount"
                                   data-val-number="The field Refill Amount must be a number."
                                   data-val-required="The Refill Amount field is required." />

                            <label class="col-sm-2 control-label"> Full tank </label>
                            <select data-ng-model="newRefill.IsFullTank">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </fieldset>

                        <p>
                            <input type="submit" value="Save" data-ng-click="saveRefill()" />
                            <input type="button" value="Cancel" data-ng-click="cancelCreateNewRefill() " />
                        </p>
                    </form>
                </div> <!-- refill_form -->
            </div>
        </div>
    </div>
</div>