@{
    ViewBag.Title = "Home Page";
}

<div data-ng-app='fuelman'>
  <div id='tile_list' data-ng-controller='VehicleController'>

    <div>
      <select data-ng-model='selectedVehicle' 
              data-ng-options='vehicle.Name for vehicle in vehicles'>
      </select>
      <button data-ng-click='createNewVehicle()'>New</button>
    </div>

    <!-- vehicle-overview -->
    <div class="vehicle-overview" data-ng-show="selectedVehicle">
        <div class="tile-title">
            <span class="brand">{{selectedVehicle.Name}}</span>                
            (<span class="model">{{selectedVehicle.BrandName}} {{selectedVehicle.ModelName}}</span>)
        </div>            
    </div> <!-- vehicle-overview -->

    <!-- vehicle-form -->
    <div class="vehicle-form" data-ng-show="isCreateNewVehicle">
        <form>   
            <div class="editor-label">Name</div> 
            <div class="editor-field"> <input data-ng-model="newVehicle.Name" type="text" name="name" id="name" /> </div>
            <div class="editor-label">Brand</div> 
            <select data-ng-model="newVehicle.Brand" data-ng-options="brand.BrandName for brand in brands"></select>
            <div class="editor-label">Model</div> 
            <select data-ng-model="newVehicle.Model" data-ng-options="model.ModelName for model in models"></select>
            <div class="editor-label">Refill Unit</div> 
            <select data-ng-model="newVehicle.RefillUnit" data-ng-options="unit.Description for unit in refillUnits"></select>
            <p>
                <input type="submit" data-ng-click="saveVehicle()" value="Add" />
                <input type="button" value="Cancel" data-ng-click='cancelCreateNewVehicle()' />
            </p>
        </form>
    </div> <!-- vehicle-form -->

    <!-- statistics -->
    <div class="statistics" data-ng-show="selectedVehicle">
        <div class="tile-title"> Statistics </div>
        <div data-ng-show="statistics.length > 0">
            <table>
                <thead>
                    <tr>
                        <th>Fuel</th>
                        <th>Distance</th>
                        <th>Economy</th>                    
                    </tr>
                </thead>
                <tbody data-ng-repeat="stat in statistics">
                    <tr>
                        <td>{{stat.Fuel}}</td>
                        <td>{{stat.Distance}}</td>
                        <td>{{stat.Economy}}</td>
                    </tr>                
                </tbody>
            </table>

            @*<div id="chart_container">
                <canvas id="chart_canvas"></canvas>
            </div>*@
        </div>
        <div data-ng-show="statistics.length ===  0">
            <span class="info">More refill records you add, the prettier the statistics get. Don't overkill though. :)</span>
        </div>        
    </div> <!-- statistics -->

    <!-- refills -->
    <div class="refills">
        <div class="tile-title">Refill History</div>
        <div class='refill' data-ng-repeat="refill in refills">
            <div class='date'>{{refill.RefillDate}}</div>
            <div class='details'>
                <span class='odometer'><code>Odometer</code> <b>{{refill.Odometer}}</b> <code>km</code></span>
                <span class='refill-amount'> <b>{{refill.RefillAmount}}</b> <code>litres</code></span>
                <span class='fulltank-or-not'><code>fulltank</code></span>
            </div>
        </div>
        <div data-ng-show="refills.length == 0">
            <span class="info">You haven't added a refill yet. <br /> Add one now. :) </span>
        </div>
        <p>
            <button data-ng-click="startCreateNewRefill()">New Refill</button>
        </p>
    </div> <!-- refills -->

    <!-- refill-form -->
    <div class="refill-form" data-ng-show="isCreateNewRefill"> 
        <div class="tile-title">New Refill</div>
        <form id="refill_form">
            <fieldset>
                <legend>New Refill</legend>
                <div class="editor-label"> Date </div>
                <input type="text" data-val="true" 
                        data-ng-model="newRefill.RefillDate"
                        data-val-date="The field Date must be a Date." 
                        data-val-required="The Date field is required." />

                <div class="editor-label"> Odometer Reading </div>
                <input type="text" data-val="true" 
                    data-ng-model="newRefill.Odometer"
                        data-val-number="The field Odometer Reading must be a number." 
                        data-val-required="The Odometer Reading field is required." />

                <div class="editor-label"> Refill Amount </div>
                <input type="text" data-val="true" 
                    data-ng-model="newRefill.RefillAmount"
                        data-val-number="The field Refill Amount must be a number." 
                        data-val-required="The Refill Amount field is required." />

                <div class="editor-label"> Full tank </div>
                <select data-ng-model="newRefill.IsFullTank">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </fieldset>
            
            <p>
                <input type="submit" value="Save" data-ng-click="saveRefill()"/>
                <input type="button" value="Cancel" data-ng-click="cancelCreateNewRefill() " />
            </p>
        </form> 
    </div> <!-- refill_form -->

</div>
